:root {
  --card-height: 380px;
  --card-header-height: 62px;
  --card-data-header-height: 120px;

  --app-bg-color-dark: rgb(61 61 63);
  --app-text-color-dark: rgb(255 255 255 / 0.8);
  --card-bg-color-dark: rgb(63 63 67);
  --card-header-color-dark: rgb(40 40 42);
  --card-content-header-color-dark: rgb(54 54 56);
  --card-content-detail-color-dark: rgb(180 180 201 / 0.16);
  --card-divider-color-dark: rgb(186 186 191 / 0.4);

  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, sans-serif;
}

body {
  padding: 16px;
  background-color: var(--app-bg-color-dark);
  color: var(--app-text-color-dark);
}

.cards__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  display: inline-block;
  width: 330px;
  height: var(--card-height);
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card-bg-color-dark);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 16px 0px;
}

.card__header {
  position: absolute;
  height: var(--card-header-height);
  width: 100%;
  display: grid;
  place-content: center;
  font-weight: 500;
  background-color: var(--card-header-color-dark);
}

.card__content {
  position: absolute;
  top: calc(100% - var(--card-data-header-height) - var(--card-header-height));
  height: calc(100% - var(--card-header-height));
  margin-top: var(--card-header-height);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: top 400ms ease-in-out;
}

.card__content_header {
  height: var(--card-data-header-height);
  min-height: var(--card-data-header-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--card-divider-color-dark);
  font-weight: bold;
  background-color: var(--card-content-header-color-dark);
}

.card__content_summary {
  line-height: 1.35;
  transition: height 500ms ease-in-out;
}

.card__content_detail {
  display: grid;
  gap: 1rem;
  padding: 10px;
  overflow: hidden;
  font-size: 0.95rem;
  background-color: var(--card-content-detail-color-dark);
}

.card:hover,
.card.hover {
  & .card__content {
    top: 0;
    justify-content: flex-end;
  }

  & .card__content_header {
    height: unset;
    min-height: unset;
  }

  & .card__content_summary {
    display: none;
  }

  & .card__content_detail {
    flex-grow: 0;
  }
}

@media screen and (min-width: 768px) {
  .cards__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --card-content-header-color: hsl(39, 100%, 75%);
    --card-content-detail-color: hsl(39, 100%, 87%);
  }

  body {
    background-color: #fff;
    color: #333;
  }
}